{% extends 'base.html.twig' %}

{% block body %}
	<h1>Liste des Admins</h1>
	<a class="btn btn-success m-2" href="{{ path('app_admin_new') }}">Ajouter un nouvelle admin</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Email</th>
				<th scope="col">Nom</th>
				<th scope="col">Prenom</th>
				<th scope="col">Adresse</th>
				<th scope="col">Téléphone</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in admins %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.infoUser.firstname }}</td>
					<td>{{ user.infoUser.lastname }}</td>
					<td>
						{{ user.infoUser.address }},
						{{ user.infoUser.zipCode }}
						{{ user.infoUser.city }}
					</td>
					<td>{{ user.infoUser.phone }}</td>
					<td>
						<a class="btn btn-info m-2" href="{{ path('app_admin_show', {'id': user.id}) }}">Voir</a>
						<a class="btn btn-warning m-2" href="{{ path('app_admin_edit', {'id': user.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Pas d'Admin</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-success m-2" href="{{ path('app_admin_new') }}">Ajouter un nouveau Admin</a>
{% endblock %}
